name: Build Wasm Modules
on: [ pull_request ]

env:
  SERENITY_SOURCE_DIR: ${{ github.workspace }}
  SERENITY_CCACHE_DIR: ${{ github.workspace }}/.ccache

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false

    permissions:
      contents: write

    steps:
      # The BUGGIEBOT_TOKEN is not available on PRs from forks. See:
      # https://github.com/actions/checkout/issues/298#issuecomment-664976337
      - name: Checkout trflynn89/serenity
        uses: actions/checkout@v6
        if: github.repository == github.event.pull_request.head.repo.full_name
        with:
          token: ${{ secrets.BUGGIEBOT_TOKEN }}

      - name: Checkout trflynn89/libjs-data libjs-wasm
        uses: actions/checkout@v6
        with:
          repository: trflynn89/libjs-data
          path: libjs-data
          ref: libjs-wasm

      - name: "Prepare files"
        run: |
          date > ${{ github.workspace }}/libjs-data/libjs.js

      - name: Deploy to GitHub
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          git-config-name: BuggieBot
          git-config-email: buggiebot@serenityos.org
          branch: libjs-wasm
          repository-name: trflynn89/libjs-data
          token: ${{ secrets.BUGGIEBOT_TOKEN }}
          folder: ${{ github.workspace }}/libjs-data
